/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table, th, td {
  border: 1px blue;
  color:black;
  border-collapse:collapse;
  background-color: rgb(240,240,240);
  border-style:double;
  border-color:blue;
  padding-top:3px;
  padding-bottom:3px;
  padding-left: 10px;
  padding-right:10px;
}
.priority{text-align:center}
.completed{text-align:center;}
.task{text-align:center}
